.header__logo {
  margin: 45px 0 41px;
}

@media all and (max-width: 580px) {
  .header__logo {
    grid-row: 1 / span 2;
    margin-left: 27px;
  }
}

@media all and (max-width: 320px) {
  .header__logo {
    max-width: 104px;
    margin: 28px 0 32px 27px;
  }
}